/* .gender{
    width:100%;
}
.gender img {
    width: 250px;
    padding: 10px;
}

.box {
    width:250px;
    height: 500px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    display: flex;
    background-color: #ffffff;
}

.box img {
    width:230px;
    height:300px;
    padding:10px;
}

.box h6 {
    font-size: 14px;
    color: #641E16;
    margin-bottom: 10px;
}

.box p {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    margin: 10px 0;
    color: #641E16;
    padding: 10px;
    overflow: hidden;

}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
} */

/* .btn {
    width: 100%;

    color: #641E16 !important;
    background-color: #ffffff !important;
    border-color: #641E16 !important;
}

.btn:hover {
    color: #ffffff !important;
    background-color: #641E16 !important;
    border-color: #641E16 !important;
} */
.square {
    width: 220px;
    height: 400px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    display: flex;
    background-color: #ffffff;
    position: relative;
    text-align: center;
  }
  
  .square img {
    width: 100%;
    height: 220px;
  
  }
  
  .square:hover img {
    animation: morph 0.5s ease-in-out 1 forwards;
  }
  
  @keyframes morph {
    0% {
      clip-path: polygon(97.686% 33.617%, 98.392% 36.152%, 98.96% 38.721%, 99.398% 41.315%, 99.712% 43.928%, 99.909% 46.552%, 99.995% 49.182%, 99.974% 51.813%, 99.852% 54.441%, 99.63% 57.063%, 99.311% 59.675%, 98.897% 62.274%, 98.389% 64.856%, 97.787% 67.417%, 97.091% 69.955%, 96.299% 72.464%, 95.411% 74.941%, 94.422% 77.379%, 93.329% 79.773%, 92.127% 82.114%, 90.812% 84.393%, 89.377% 86.598%, 87.813% 88.714%, 86.114% 90.723%, 84.272% 92.6%, 82.279% 94.317%, 80.125% 95.828%, 77.832% 97.117%, 75.423% 98.172%, 72.92% 98.983%, 70.352% 99.552%, 67.743% 99.887%, 65.115% 100%, 62.485% 99.907%, 59.869% 99.627%, 57.277% 99.176%, 54.717% 98.571%, 52.193% 97.825%, 49.711% 96.954%, 47.271% 95.967%, 44.877% 94.876%, 42.529% 93.689%, 40.227% 92.414%, 37.972% 91.058%, 35.764% 89.626%, 33.604% 88.123%, 31.491% 86.555%, 29.426% 84.924%, 27.41% 83.234%, 25.441% 81.487%, 23.522% 79.687%, 21.651% 77.836%, 19.832% 75.935%, 18.064% 73.986%, 16.35% 71.99%, 14.691% 69.947%, 13.09% 67.859%, 11.549% 65.726%, 10.073% 63.547%, 8.665% 61.324%, 7.331% 59.056%, 6.076% 56.744%, 4.907% 54.386%, 3.832% 51.984%, 2.861% 49.539%, 2.006% 47.05%, 1.28% 44.521%, .699% 41.955%, .28% 39.358%, .044% 36.738%, .014% 34.107%, .212% 31.484%, .66% 28.892%, 1.371% 26.359%, 2.338% 23.913%, 3.54% 21.574%, 4.951% 19.354%, 6.546% 17.261%, 8.3% 15.3%, 10.191% 13.471%, 12.199% 11.771%, 14.307% 10.197%, 16.502% 8.746%, 18.771% 7.414%, 21.104% 6.198%, 23.493% 5.094%, 25.93% 4.101%, 28.408% 3.217%, 30.922% 2.439%, 33.466% 1.768%, 36.036% 1.203%, 38.627% .744%, 41.235% .394%, 43.855% .152%, 46.483% .023%, 49.114% .008%, 51.744% .103%, 54.366% .315%, 56.977% .648%, 59.569% 1.1%, 62.137% 1.672%, 64.676% 2.363%, 67.179% 3.173%, 69.642% 4.101%, 72.056% 5.147%, 74.416% 6.31%, 76.715% 7.59%, 78.946% 8.985%, 81.102% 10.494%, 83.174% 12.115%, 85.156% 13.846%, 87.039% 15.684%, 88.815% 17.625%, 90.477% 19.664%, 92.017% 21.797%, 93.429% 24.017%, 94.707% 26.318%, 95.844% 28.69%, 96.838% 31.126%, 97.686% 33.617%);
  
    }
    100% {
      clip-path: polygon(80.628% 3.397%, 82.907% 4.713%, 85.051% 6.239%, 87.055% 7.945%, 88.916% 9.806%, 90.636% 11.799%, 92.213% 13.907%, 93.65% 16.112%, 94.946% 18.403%, 96.102% 20.768%, 97.115% 23.198%, 97.983% 25.683%, 98.702% 28.215%, 99.256% 30.788%, 99.652% 33.39%, 99.898% 36.011%, 99.998% 38.642%, 99.953% 41.274%, 99.765% 43.899%, 99.436% 46.511%, 98.966% 49.101%, 98.355% 51.662%, 97.602% 54.184%, 96.703% 56.658%, 95.658% 59.074%, 94.459% 61.417%, 93.104% 63.674%, 91.61% 65.841%, 89.994% 67.919%, 88.274% 69.912%, 86.469% 71.828%, 84.595% 73.677%, 82.668% 75.471%, 80.701% 77.221%, 78.709% 78.941%, 76.701% 80.644%, 74.69% 82.343%, 72.683% 84.048%, 70.68% 85.756%, 68.669% 87.455%, 66.637% 89.129%, 64.575% 90.765%, 62.468% 92.344%, 60.307% 93.847%, 58.08% 95.251%, 55.778% 96.528%, 53.396% 97.648%, 50.934% 98.576%, 48.398% 99.281%, 45.809% 99.751%, 43.186% 99.976%, 40.555% 99.967%, 37.933% 99.738%, 35.337% 99.303%, 32.781% 98.675%, 30.276% 97.865%, 27.834% 96.884%, 25.462% 95.741%, 23.171% 94.446%, 20.969% 93.004%, 18.866% 91.42%, 16.874% 89.7%, 14.991% 87.861%, 13.22% 85.913%, 11.56% 83.87%, 10.011% 81.742%, 8.574% 79.537%, 7.246% 77.263%, 6.029% 74.929%, 4.921% 72.541%, 3.923% 70.106%, 3.034% 67.628%, 2.256% 65.113%, 1.587% 62.566%, 1.033% 59.993%, .595% 57.397%, .275% 54.784%, .076% 52.159%, .001% 49.528%, .052% 46.896%, .236% 44.27%, .556% 41.657%, 1.019% 39.066%, 1.631% 36.506%, 2.398% 33.988%, 3.328% 31.525%, 4.412% 29.127%, 5.654% 26.806%, 7.044% 24.57%, 8.571% 22.426%, 10.224% 20.378%, 11.993% 18.429%, 13.868% 16.581%, 15.84% 14.837%, 17.9% 13.198%, 20.041% 11.666%, 22.255% 10.243%, 24.54% 8.937%, 26.891% 7.752%, 29.296% 6.68%, 31.746% 5.718%, 34.235% 4.86%, 36.755% 4.099%, 39.3% 3.427%, 41.865% 2.833%, 44.444% 2.306%, 47.035% 1.836%, 49.633% 1.412%, 52.237% 1.025%, 54.847% .677%, 57.463% .383%, 60.086% .162%, 62.715% .029%, 65.348% .006%, 67.978% .112%, 70.597% .372%, 73.193% .808%, 75.747% 1.446%, 78.234% 2.304%, 80.628% 3.397%);
      clip-path: polygon(85.349% 11.712%, 87.382% 13.587%, 89.228% 15.647%, 90.886% 17.862%, 92.359% 20.204%, 93.657% 22.647%, 94.795% 25.169%, 95.786% 27.752%, 96.645% 30.382%, 97.387% 33.048%, 98.025% 35.74%, 98.564% 38.454%, 99.007% 41.186%, 99.358% 43.931%, 99.622% 46.685%, 99.808% 49.446%, 99.926% 52.21%, 99.986% 54.977%, 99.999% 57.744%, 99.975% 60.511%, 99.923% 63.278%, 99.821% 66.043%, 99.671% 68.806%, 99.453% 71.565%, 99.145% 74.314%, 98.724% 77.049%, 98.164% 79.759%, 97.433% 82.427%, 96.495% 85.03%, 95.311% 87.529%, 93.841% 89.872%, 92.062% 91.988%, 89.972% 93.796%, 87.635% 95.273%, 85.135% 96.456%, 82.532% 97.393%, 79.864% 98.127%, 77.156% 98.695%, 74.424% 99.129%, 71.676% 99.452%, 68.918% 99.685%, 66.156% 99.844%, 63.39% 99.942%, 60.624% 99.99%, 57.856% 99.999%, 55.089% 99.978%, 52.323% 99.929%, 49.557% 99.847%, 46.792% 99.723%, 44.031% 99.549%, 41.273% 99.317%, 38.522% 99.017%, 35.781% 98.639%, 33.054% 98.17%, 30.347% 97.599%, 27.667% 96.911%, 25.024% 96.091%, 22.432% 95.123%, 19.907% 93.994%, 17.466% 92.69%, 15.126% 91.216%, 12.902% 89.569%, 10.808% 87.761%, 8.854% 85.803%, 7.053% 83.703%, 5.418% 81.471%, 3.962% 79.119%, 2.702% 76.656%, 1.656% 74.095%, .846% 71.45%, .294% 68.74%, .024% 65.987%, .05% 63.221%, .343% 60.471%, .858% 57.752%, 1.548% 55.073%, 2.37% 52.431%, 3.283% 49.819%, 4.253% 47.227%, 5.249% 44.646%, 6.244% 42.063%, 7.211% 39.471%, 8.124% 36.858%, 8.958% 34.22%, 9.711% 31.558%, 10.409% 28.88%, 11.083% 26.196%, 11.76% 23.513%, 12.474% 20.839%, 13.259% 18.186%, 14.156% 15.569%, 15.214% 13.012%, 16.485% 10.556%, 18.028% 8.261%, 19.883% 6.211%, 22.041% 4.484%, 24.44% 3.11%, 26.998% 2.057%, 29.651% 1.275%, 32.36% .714%, 35.101% .337%, 37.859% .11%, 40.624% .009%, 43.391% .016%, 46.156% .113%, 48.918% .289%, 51.674% .533%, 54.425% .837%, 57.166% 1.215%, 59.898% 1.654%, 62.618% 2.163%, 65.322% 2.75%, 68.006% 3.424%, 70.662% 4.197%, 73.284% 5.081%, 75.86% 6.091%, 78.376% 7.242%, 80.813% 8.551%, 83.148% 10.036%, 85.349% 11.712%);
    }
  }
  
  /* .square:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  } */
  
  