.brand img {
  width: 100%;
  height: 80px;
}

html, body, #root {
  overflow: visible !important;
}
.navbar {
  background-color: rgba(210, 155, 178, 0.8);
  width: auto;

  position: sticky !important;
  top: 0;
  z-index:1000;


  background-color: rgba(210, 155, 178, 0.95); /* your color */
  backdrop-filter: blur(6px);
  padding: 8px 0;
}



.navbar a {
  color: #641E16;
  text-decoration: none;
}


.icons-nav .nav-link {
  font-size: 18px;
  margin-left: 12px;
  color: #641E16;

}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color:#DE3576;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
}


@media (max-width: 768px) {
  .search-box {
    width: 100%;
    margin: 10px 0;
  }

  .icons-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .icons-nav .nav-link {
    width: fit-content;
  }
}