.brand img {
  width: 100%;
  height: 80px;
}

.navbar {
  /* width: 100%; */
  /* display: flex; */
  background-color: rgba(210, 155, 178, 0.8);
/* margin: 0;
padding: 0; */
width:auto;


}


.navbar a {
  color: #641E16;
  text-decoration: none;
}


.icons-nav .nav-link {
  font-size: 18px;
  margin-left: 12px;
  color: #641E16;

}