.brand img {
  width: 100%;
  height: 80px;
}

.navbar {
  background-color: rgba(210, 155, 178, 0.8);
  width: auto;

}


.navbar a {
  color: #641E16;
  text-decoration: none;
}


.icons-nav .nav-link {
  font-size: 18px;
  margin-left: 12px;
  color: #641E16;

}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -8px;
  background-color:#DE3576;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  font-weight: bold;
}